<html>
<head>
  <title>vue js study</title>
</head>
<body>
  <div id="app">
    <h1>You must send a message for help!</h1>
    <textarea v-model="message"></textarea>
    <button v-show="message">v-show message</button><!-- message값이 있을 때만 출력 내부적으로는 css display 토글과 같다.-->
    <button v-if="message">v-if message </button><!-- 이건 돔이 제거됨 -->
    <pre><!-- pre 태그를 이용하면 Vue인스턴스로 부터 데이터를 가져와 json형태로 브라우저에 데이터를 보여준다. (자동 파싱) -->
      {{ $data }}
    </pre>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
  <script>
  //디렉티브는 라이버러리에서 DOM 엘레먼트가 무언가를 수행하도록 지시하는 특수한 토큰.
  // ex) v-if (조건에 따라 엘리먼트를 화면에 표시)
    new Vue({
      el: '#app',
      data: {
        message: 'init message'
      }
    })
  </script>
</body>
</html>
